<footer>
  <div class="c-grid">
    <li><a href="#">Terms of Service</a></li>
    <li><a href="#">Privacy Policy</a></li>
  </div>

  <div>
    <li class="copyright">© Markdown Tweet Developed by <a href="#">millcrepe</a></li>
  </div>
  
</footer>
