<footer>
  <div class="c-grid">
    <li><%= link_to 'Terms of Service', terms_of_service_path %></li>
    <li><%= link_to 'Privacy Policy', privacy_policy_path %></li>
  </div>

  <div>
    <li class="copyright">© Markdown Tweet Developed by <a href="https://twitter.com/IZUMIRU0313">IZUMIRU</a></li>
  </div>
</footer>
