<header class="c-grid -middle">
  <a href="#"><img src="<%= image_path('md_logo@2x.png') %>" width="51px" height="51px"></a>
  <a href="#"><span class="copyright mL30">Markdown Tweet</span></a>
</header>
