<div id='editor'>
  <textarea rows="10" cols="50" v-bind:value='input' v-on:input='updateValue'></textarea>
  <div v-html='convertMarkdownToHtml'></div>
</div>

<button class="c-button -twitter">
  <i class="fab fa-twitter"></i>
  <%= link_to 'Tweet', '#' %>
</button>

<script>
  var app = new Vue({
    el: '#editor',
    data: {
      input: '# Let\'s write it here!!',
    },
    computed: {
      convertMarkdownToHtml: function() {
        return marked(this.input, {sanitize: true});
      }
    },
    methods: {
      updateValue: _.debounce(function(eventObject) {
        this.input = eventObject.target.value;
      }, 500)
    },
  });
</script>