<section id="particles-js" class="firstview">
  <div class="c-grid">
    <p class="write">Write</p>
    <p class="preview">Preview</p>
  </div>

  <div id="editor">
    <textarea readonly>
# Privacy Policy
株式会社キャスター(以下「運営者」といいます。)は、運営者が提供するサービス「bosyu」(以下「本サービス」といいます。)において個人情報を取り扱う場合、個人情報の主体(以下「ユーザー」といいます。)のプライバシー保護に配慮し、以下のプライバシーポリシー(以下「本ポリシー」といいます。)に基づき適正な個人情報の取扱いに努めて参ります。なお、本サービスをご利用登録した時点で、本ポリシーにご同意いただいたものとみなします。
  
## 個人情報の定義
本ポリシーにおいて「個人情報」とは、個人に関する情報（本サービスにおいて取得されるボックス内の情報及びその他登録情報を含みます。）であって、当該情報に含まれる氏名、生年月日その他記述及び写真等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みます。)を意味します。
      
## 適用範囲
- 本ポリシーは、本サービスに関連して運営者が取得した個人情報について適用されるものとします。
- ユーザーが外部サイト等を利用する場合には、外部サイトが定めるプライバシーポリシー等を事前に確認するものとします。
        
## 個人情報の利用
- 運営者は、予めユーザーの同意を得ないで、ユーザーに通知し又は本ポリシーで公表した　利用目的の達成に必要な範囲を超えて個人情報を取り扱うことはしないものとします。
- 運営者は、主に以下の目的で個人情報を利用するものとします。
  - 本人確認を行う目的
  - ユーザー登録申請等の際に運営者所定の審査を行う目的
  - 本サービスを運営又は提供する目的
  - 本サービスに関する情報(メンテナンス情報を含みますがこれに限りません。)を提供する目的
  - 本サービスの利用規約等の遵守状況を調査し、その違反を是正する目的
  - 本サービスの利用状況等を記録、集計、分析等する目的(特定の個人を識別することができない状態にして記録等の結果を第三者に提供し又は公表する目的を含みます。)
  - 運営者又は第三者の商品又はサービスの企画、改善等の参考にする目的
  - 運営者又は第三者の商品又はサービスを紹介する目的(上記ⅵの分析の結果と合わせて利用することにより興味や関心を推測し、配信する広告を選定する目的を含みます。)
  - お問い合わせに対応する目的

- 運営者は、合併その他の事由により他の事業者から事業を承継することに伴って個人情報を取得した場合は、予めユーザーの同意を得ないで、承継前における個人情報の利用目的の達成に必要な範囲を超えて個人情報を取り扱うことはしないものとします。
- 前３項の規定にかかわらず、以下の各号の一に該当する場合、前３項の規定は適用されないものとします。
        
  - 法令に基づく場合
  - 人の生命、身体又は財産の保護のために必要がある場合であって、ユーザーの同意を得ることが困難である場合
  - 公衆衛生の向上又は児童の健全な育成のために特に必要がある場合であって、ユーザーの同意を得ることが困難である場合
  - 国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、ユーザーの同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合
      
## 情報の第三者への提供
      
- 運営者は、「３　個人情報の利用　④」に定める場合を除き、予めユーザーの同意を得ないで、個人情報を第三者に提供することはしないものとします。但し、以下の場合において運営者から個人情報の提供を受ける者は本項本文の第三者に該当しないものとします。
         
  - 運営者が個人情報の利用目的の達成に必要な範囲において個人情報の取扱いの全部又は一部を委託する場合
  - 合併その他の事由による事業の承継に伴って個人情報が提供される場合
  - 個人情報を特定の者との間で共同して利用する場合であって、その旨並びに共同して利用する者の範囲、利用する者の利用目的及び個人情報の管理について責任を有する者の氏名又は名称について、予めユーザーに通知し又はユーザーが容易に知り得る状態に置いている場合

- 運営者は、以下の場合には、予めユーザーの同意を得ないで個人情報を第三者に提供することがあるものとします。
          
  - 法令に基づく場合
  - 本サービスを適正に実施する場合
  - 人の生命、身体又は財産の保護のために必要がある場合であって、ユーザーの同意を得ることが困難である場合
  - 公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、ユーザーの同意を得ることが困難である場合
  - 国の機関若しくは地方公共団体又はその委託を受けた者が法令に定める事務を遂行することに対して協力する必要がある場合であって、ユーザーの同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合
  - 運営者が以下の事項を予めユーザーに通知し又はユーザーが容易に知り得る状態に置いている場合
          
    - 個人情報の第三者への提供を利用目的とすること
    - 第三者へ提供される個人情報の項目
    - 個人情報の第三者への提供の手段又は方法
    - ユーザーの求めに応じ個人情報の第三者への提供を停止すること
  
## 個人情報の開示
運営者は、ユーザーからユーザーが識別される個人情報の開示を求められた場合、ユーザーに対し、遅滞なく、個人情報を開示するものとします。但し、個人情報を開示することにより以下の各号の一に該当する場合、運営者はその全部又は一部を開示しないことができます。
      
- ユーザー又は第三者の生命、身体、財産その他権利利益を害するおそれがある場合
- 運営者の業務の適正な実施に著しい支障を及ぼすおそれがある場合
- 法令に違反する場合

## 個人情報の訂正等
      
- 運営者は、ユーザーからユーザーが識別される個人情報の内容が事実でないという理由によって個人情報の内容の訂正、追加又は削除(以下、総称して「訂正等」といいます。)を求められた場合、訂正等に関して法令の規定により特別な手続が定められている場合を除き、個人情報の利用目的の達成に必要な範囲内において、遅滞なく必要な調査を行い、その結果に基づき、当該個人情報の内容の訂正等を行うものとします。
- 運営者は、ユーザーから以下の各号に掲げる理由によって個人情報の利用停止又は消去(以下、総称して「利用停止等」といいます。)を求められ、その求めに合理的理由があると判断した場合、違反を是正するために必要な限度で、遅滞なく、個人情報の利用停止等を行うものとします。但し、個人情報の利用停止等に多額の費用を要する場合その他の利用停止等を行うことが困難な場合であって、運営者がユーザーの権利利益を保護するために必要なこれに代わるべき措置をとるときは、この限りではないものとします。

  - ユーザーが識別される個人情報が第３項の１に違反して取り扱われているという理由
  - ユーザーが識別される個人情報が偽りその他不正の手段により取得されたものであるという理由

- 運営者は、ユーザーからユーザーが識別される個人情報が第４項の１に違反して第三者に提供されているという理由によって個人情報の第三者への提供の停止を求められ、その求めに合理的理由があることが判断した場合、違反を是正するために必要な限度で、遅滞なく、個人情報の第三者への提供を停止するものとします。但し、個人情報の第三者への提供の停止に多額の費用を要する場合その他の第三者への提供を停止することが困難な場合であって、運営者がユーザーの権利利益を保護するために必要なこれに代わるべき措置をとるときは、この限りではないものとします。

      
## クッキー（Cookie）について
      
- 運営者は、現在、運営者のインターネット業務及びコミュニケーションを管理し最適化するため複数のオンライン・パートナーと契約しています。また運営者は、運営者の宣伝効果及びユーザーがどのように本サービスを使用されているかを測定し、ユーザーにより良いサービスを提供するためにマーケティング会社の支援サービスを利用しています。そのため、運営者は本サービス上においてマーケティング会社から提供されたWebビーコン及びクッキー（Cookie）を使用 しています。
- 運営者が収集する情報の種類には、IPアドレス、ドメイン名、リファラーなどの情報、閲覧されたページの情報等が含まれます。この情報により、ユーザーが最も興味を持ったページやサービス、好んで閲覧されたページ等を知ることができますが、これにより個人を特定できるものではなく、ユーザーのプライバシーを侵害することはありません。なお、MTではマーケティング会社のサービスを通じて本サービスの情報を記録していますが、当該データの取扱方法等ついては運営者が管理しています。

      
## 安全管理体制
運営者は、個人情報の漏えい、滅失又は毀損の防止その他個人情報の保護のため、運営者社員に対する教育の実施や研修等を行い、さらにシステム面でも個人情報ファイルへのアクセス制限の実施、アクセスログの記録及び外部からの不正アクセス防止のためのセキュリティー対策の実施等、その他出来うる限りの個人情報の安全管理のための必要かつ適切な措置を講じます。

## 免責
運営者が特に定める場合を除き、運営者は、本サービスの利用者が本サービスを利用して運営者の運営・管理するウェブサイト又はその他のウェブサイトに当該利用者又は第三者の個人情報を公開したときは、これにより当該利用者又は当該第三者が被った損害について、一切の責任を負わないものとします。

## プライバシーポリシーの変更
運営者は、運営者が必要と判断した場合、ユーザーへの事前の通知及び承諾を得ることなく、本サービス上に通知を掲載することによりプライバシーポリシーの変更・追加・削除等を行うことができるものとし、変更・追加・削除等についての通知が本サービス上に掲載されると同時に適用可能になるものとします。また、ユーザーが、運営者が通知を掲載した時点以降、本サービスを継続利用した場合は、これらの変更・追加・削除等を変更なく受け入れることを表明したものとみなします。

## お問い合わせ窓口
運営者の個人情報の取扱いに関するご質問や苦情等のお問い合わせについては、下記の窓口までご連絡ください。

［個人情報についてのお問い合わせ先］
株式会社キャスター担当部署：bosyuサポート窓口
E-mail：support@cast-er.com      
    </textarea>

    <div>
      <h1>Privacy Policy</h1>
      <p>株式会社キャスター(以下「運営者」といいます。)は、運営者が提供するサービス「bosyu」(以下「本サービス」といいます。)において個人情報を取り扱う場合、個人情報の主体(以下「ユーザー」といいます。)のプライバシー保護に配慮し、以下のプライバシーポリシー(以下「本ポリシー」といいます。)に基づき適正な個人情報の取扱いに努めて参ります。なお、本サービスをご利用登録した時点で、本ポリシーにご同意いただいたものとみなします。</p>
      
      <h2>個人情報の定義</h2>
      <p>本ポリシーにおいて「個人情報」とは、個人に関する情報（本サービスにおいて取得されるボックス内の情報及びその他登録情報を含みます。）であって、当該情報に含まれる氏名、生年月日その他記述及び写真等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みます。)を意味します。</p>
      
      <h2>適用範囲</h2>
      <ol>
        <li>本ポリシーは、本サービスに関連して運営者が取得した個人情報について適用されるものとします。</li>
        <li>ユーザーが外部サイト等を利用する場合には、外部サイトが定めるプライバシーポリシー等を事前に確認するものとします。</li>
      </ol>
      
      <h2>個人情報の利用</h2>
      <ol>
        <li>運営者は、予めユーザーの同意を得ないで、ユーザーに通知し又は本ポリシーで公表した　利用目的の達成に必要な範囲を超えて個人情報を取り扱うことはしないものとします。</li>
        <li>運営者は、主に以下の目的で個人情報を利用するものとします。</li>
        <ol>
          <li>本人確認を行う目的</li>
          <li>ユーザー登録申請等の際に運営者所定の審査を行う目的</li>
          <li>本サービスを運営又は提供する目的</li>
          <li>本サービスに関する情報(メンテナンス情報を含みますがこれに限りません。)を提供する目的</li>
          <li>本サービスの利用規約等の遵守状況を調査し、その違反を是正する目的</li>
          <li>本サービスの利用状況等を記録、集計、分析等する目的(特定の個人を識別することができない状態にして記録等の結果を第三者に提供し又は公表する目的を含みます。)</li>
          <li>運営者又は第三者の商品又はサービスの企画、改善等の参考にする目的</li>
          <li>運営者又は第三者の商品又はサービスを紹介する目的(上記ⅵの分析の結果と合わせて利用することにより興味や関心を推測し、配信する広告を選定する目的を含みます。)</li>
          <li>お問い合わせに対応する目的</li>
        </ol>
        <li>運営者は、合併その他の事由により他の事業者から事業を承継することに伴って個人情報を取得した場合は、予めユーザーの同意を得ないで、承継前における個人情報の利用目的の達成に必要な範囲を超えて個人情報を取り扱うことはしないものとします。</li>
        <li>前３項の規定にかかわらず、以下の各号の一に該当する場合、前３項の規定は適用されないものとします。</li>
        <ol>
          <li>法令に基づく場合</li>
          <li>人の生命、身体又は財産の保護のために必要がある場合であって、ユーザーの同意を得ることが困難である場合</li>
          <li>公衆衛生の向上又は児童の健全な育成のために特に必要がある場合であって、ユーザーの同意を得ることが困難である場合</li>
          <li>国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、ユーザーの同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合</li>
        </ol>
      </ol>
      
      <h2>情報の第三者への提供</h2>
      <ol>
        <li>運営者は、「３　個人情報の利用　④」に定める場合を除き、予めユーザーの同意を得ないで、個人情報を第三者に提供することはしないものとします。但し、以下の場合において運営者から個人情報の提供を受ける者は本項本文の第三者に該当しないものとします。</li>
        <ol>
          <li>運営者が個人情報の利用目的の達成に必要な範囲において個人情報の取扱いの全部又は一部を委託する場合</li>
          <li>合併その他の事由による事業の承継に伴って個人情報が提供される場合</li>
          <li>個人情報を特定の者との間で共同して利用する場合であって、その旨並びに共同して利用する者の範囲、利用する者の利用目的及び個人情報の管理について責任を有する者の氏名又は名称について、予めユーザーに通知し又はユーザーが容易に知り得る状態に置いている場合</li>
        </ol>
        <li>運営者は、以下の場合には、予めユーザーの同意を得ないで個人情報を第三者に提供することがあるものとします。</li>
        <ol>  
          <li>法令に基づく場合</li>
          <li>本サービスを適正に実施する場合</li>
          <li>人の生命、身体又は財産の保護のために必要がある場合であって、ユーザーの同意を得ることが困難である場合</li>
          <li>公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、ユーザーの同意を得ることが困難である場合</li>
          <li>国の機関若しくは地方公共団体又はその委託を受けた者が法令に定める事務を遂行することに対して協力する必要がある場合であって、ユーザーの同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合</li>
          <li>運営者が以下の事項を予めユーザーに通知し又はユーザーが容易に知り得る状態に置いている場合</li>
          <ol>
            <li>個人情報の第三者への提供を利用目的とすること</li>
            <li>第三者へ提供される個人情報の項目</li>
            <li>個人情報の第三者への提供の手段又は方法</li>
            <li>ユーザーの求めに応じ個人情報の第三者への提供を停止すること</li>
          </ol>
        </ol>
      </ol>
      
      <h2>個人情報の開示</h2>
      <p>運営者は、ユーザーからユーザーが識別される個人情報の開示を求められた場合、ユーザーに対し、遅滞なく、個人情報を開示するものとします。但し、個人情報を開示することにより以下の各号の一に該当する場合、運営者はその全部又は一部を開示しないことができます。</p>
      <ol>
        <li>ユーザー又は第三者の生命、身体、財産その他権利利益を害するおそれがある場合</li>
        <li>運営者の業務の適正な実施に著しい支障を及ぼすおそれがある場合</li>
        <li>法令に違反する場合</li>
      </ol>
      
      <h2>個人情報の訂正等</h2>
      <ol>
        <li>運営者は、ユーザーからユーザーが識別される個人情報の内容が事実でないという理由によって個人情報の内容の訂正、追加又は削除(以下、総称して「訂正等」といいます。)を求められた場合、訂正等に関して法令の規定により特別な手続が定められている場合を除き、個人情報の利用目的の達成に必要な範囲内において、遅滞なく必要な調査を行い、その結果に基づき、当該個人情報の内容の訂正等を行うものとします。</li>
        <li>運営者は、ユーザーから以下の各号に掲げる理由によって個人情報の利用停止又は消去(以下、総称して「利用停止等」といいます。)を求められ、その求めに合理的理由があると判断した場合、違反を是正するために必要な限度で、遅滞なく、個人情報の利用停止等を行うものとします。但し、個人情報の利用停止等に多額の費用を要する場合その他の利用停止等を行うことが困難な場合であって、運営者がユーザーの権利利益を保護するために必要なこれに代わるべき措置をとるときは、この限りではないものとします。</li>
        <ol>
          <li>ユーザーが識別される個人情報が第３項の１に違反して取り扱われているという理由</li>
          <li>ユーザーが識別される個人情報が偽りその他不正の手段により取得されたものであるという理由</li>
        </ol>
        <li>運営者は、ユーザーからユーザーが識別される個人情報が第４項の１に違反して第三者に提供されているという理由によって個人情報の第三者への提供の停止を求められ、その求めに合理的理由があることが判断した場合、違反を是正するために必要な限度で、遅滞なく、個人情報の第三者への提供を停止するものとします。但し、個人情報の第三者への提供の停止に多額の費用を要する場合その他の第三者への提供を停止することが困難な場合であって、運営者がユーザーの権利利益を保護するために必要なこれに代わるべき措置をとるときは、この限りではないものとします。</li>
      </ol>
      
      <h2>クッキー（Cookie）について</h2>
      <ol>
        <li>運営者は、現在、運営者のインターネット業務及びコミュニケーションを管理し最適化するため複数のオンライン・パートナーと契約しています。また運営者は、運営者の宣伝効果及びユーザーがどのように本サービスを使用されているかを測定し、ユーザーにより良いサービスを提供するためにマーケティング会社の支援サービスを利用しています。そのため、運営者は本サービス上においてマーケティング会社から提供されたWebビーコン及びクッキー（Cookie）を使用 しています。</li>
        <li>運営者が収集する情報の種類には、IPアドレス、ドメイン名、リファラーなどの情報、閲覧されたページの情報等が含まれます。この情報により、ユーザーが最も興味を持ったページやサービス、好んで閲覧されたページ等を知ることができますが、これにより個人を特定できるものではなく、ユーザーのプライバシーを侵害することはありません。なお、MTではマーケティング会社のサービスを通じて本サービスの情報を記録していますが、当該データの取扱方法等ついては運営者が管理しています。</li>
      </ol>
      
      <h2>安全管理体制</h2>
      <p>運営者は、個人情報の漏えい、滅失又は毀損の防止その他個人情報の保護のため、運営者社員に対する教育の実施や研修等を行い、さらにシステム面でも個人情報ファイルへのアクセス制限の実施、アクセスログの記録及び外部からの不正アクセス防止のためのセキュリティー対策の実施等、その他出来うる限りの個人情報の安全管理のための必要かつ適切な措置を講じます。</p>
      
      <h2>免責</h2>
      <p>運営者が特に定める場合を除き、運営者は、本サービスの利用者が本サービスを利用して運営者の運営・管理するウェブサイト又はその他のウェブサイトに当該利用者又は第三者の個人情報を公開したときは、これにより当該利用者又は当該第三者が被った損害について、一切の責任を負わないものとします。</p>
      
      <h2>プライバシーポリシーの変更</h2>
      <p>運営者は、運営者が必要と判断した場合、ユーザーへの事前の通知及び承諾を得ることなく、本サービス上に通知を掲載することによりプライバシーポリシーの変更・追加・削除等を行うことができるものとし、変更・追加・削除等についての通知が本サービス上に掲載されると同時に適用可能になるものとします。また、ユーザーが、運営者が通知を掲載した時点以降、本サービスを継続利用した場合は、これらの変更・追加・削除等を変更なく受け入れることを表明したものとみなします。</p>
      
      <h2>お問い合わせ窓口</h2>
      <p>運営者の個人情報の取扱いに関するご質問や苦情等のお問い合わせについては、下記の窓口までご連絡ください。</p>
      
      ［個人情報についてのお問い合わせ先］
      株式会社キャスター担当部署：bosyuサポート窓口
      E-mail：support@cast-er.com      
    </div>
  </div>
</section>

<script>
particlesJS('particles-js', //アニメーションを表示する要素(id)を指定する。同名のclassが存在する場合は動作しない
  {
    "particles": {
      //シェイプ数
      "number": {
        //要素内に表示するシェイプの数
        "value": 80,
        "density": {
          //シェイプ表示間隔設定
          "enable": true, //true:有効, false:無効
          //シェイプ表示間隔
          "value_area": 1000
        }
      },
      //シェイプ色
      "color": {
        "value": "#ffffff" //複数指定["#ff7fbf", "#ff7fff", "#bf7fff"]
      },

      //シェイプの設定
      "shape": {
        //シェイプ形
        "type": "circle", //設定値：circle, edge, triangle, polygon, star, image, 複数指定["circle", "triangle", "image"]

        //シェイプボーダー設定
        "stroke": {
          //ボーダー幅
          "width": 0,
          //ボーダー色
          "color": "#000000"
        },
        //シェイプの形でpolygonを指定した場合
        "polygon": {
          //ポリゴン角数指定
          "nb_sides": 5
        },

        //シェイプの形でimageを指定した場合
        "image": {
          //画像パス
          "src": "img/github.svg",
          //画像幅
          "width": 100,
          //画像高さ
          "height": 100
        }
      },

      //シェイプ透過率指定
      "opacity": {
        //透過率指定
        "value": 0.5,
        //ランダム設定
        "random": false, //true:有効, false:無効

        //透過アニメーション設定
        "anim": {
          //アニメーション設定
          "enable": false, //true:有効, false:無効
          //アニメーション速度
          "speed": 1,
          //アニメーション最小透過率
          "opacity_min": 0.1,
          //アニメーション同期
          "sync": false //true:有効, false:無効
        }
      },

      //シェイプサイズ
      "size": {
        //シェイプサイズ指定
        "value": 5,
        //ランダムサイズ
        "random": true, //true:有効, false:無効
        //サイズアニメーション設定
        "anim": {
          //アニメーション設定
          "enable": false, //true:有効, false:無効
          //アニメーション速度
          "speed": 40,
          //アニメーション時のシェイプ最小サイズ,
          "size_min": 0.1,
          //アニメーション同期設定
          "sync": false //true:有効, false:無効
        }
      },

      //シェイプを線で繋ぐか
      "line_linked": {
        //線の設定
        "enable": true, //true:有効, false:無効
        //線の間隔
        "distance": 150,
        //線の色
        "color": "#ffffff",
        //線の透過率
        "opacity": 0.4,
        //線の幅
        "width": 1
      },
      //シェイプの動きの設定
      "move": {
        //動きを制御するか
        "enable": true, //true:有効, false:無効
        //動く速度
        "speed": 6,
        //動く方向
        "direction": "none", //none, top, top-right, right, bottom-right, bottom, bottom-left, left, top-left
        //ランダム設定
        "random": false, //true:有効, false:無効
        //静止状態にする
        "straight": false, //true:有効, false:無効
        //シェイプの動き
        "out_mode": "out", //ボックス内で動かす bounce ボックス外に逃がす out
        "attract": {
          "enable": true,
          "rotateX": 600,
          "rotateY": 1200
        }
      }
    },
    "interactivity": {
      "detect_on": "canvas",

      //マウスイベント設定
      "events": {
        //マウスオーバー時の処理
        "onhover": {
          "enable": true, //true:有効, false:無効
          "mode": "grab" //grad:付近のシェイプと線を繋ぐ, bubble:拡大, repulse:拒絶
        },

        //クリック時の処理処理
        "onclick": {
          //クリック時の処理
          "enable": true, //true:有効, false:無効
          //クリック時の処理の設定
          "mode": "push" //push:追加, remove:削除, bubble:拡大, repulse:拒絶
        },
        "resize": true
      },
      //以下でマウスイベント発生時の詳細値を設定
      "modes": {
        "grab": {
          "distance": 200,
          "line_linked": {
            "opacity": 1
          }
        },
        "bubble": {
          "distance": 400,
          "size": 40,
          "duration": 2,
          "opacity": 8,
          "speed": 3
        },
        "repulse": {
          "distance": 1
        },
        "push": {
          "particles_nb": 4
        },
        "remove": {
          "particles_nb": 2
        }
      }
    },
    //Retina Display対応
    "retina_detect": true, //true:有効, false:無効
  }
);
</script>
