<h1>Terms of Service</h1>
bosyu利用規約（以下「本規約」と言います。）には、当社が運営するサービス「bosyu」（以下「本サービス」と言います。）の提供及び当社と登録されたユーザー（以下「登録ユーザー」と言います。）の皆様との間の権利義務関係が定められています。本サービスの利用に際しては、本規約をお読みいただいたうえで、同意していただく必要があります。

<h2>第１条 （適用）</h2>
<ol>
  <li>本規約は、本サービスの提供義務及び本サービスの利用に関する当社と登録ユーザーとの間の権利義務関係を定めることを目的とし、登録ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されます。</li>
  <li>当社が当社ウェブサイト上で記載する本サービス利用に関するルールは、本規約の一部を構成するものとします。</li>
  <li>本規約の内容と、前項のルールその他の本規約外における本サービスの説明等とが異なる場合は、本規約の規定が優先して適用されるものとします。</li>
</ol>

<h2>第２条　（定義）</h2>
本規約において使用する以下の用語は、各々以下に定める意味を有するものとします。
<ol>
  <li>「利用規約」とは、本規約及び当社と登録ユーザーの間で締結する、本サービスの利用契約を意味します。</li>
  <li>「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権（それらの権利を取得し、又はそれらの権利につき登録等を出願する権利を含みます。）を意味します。</li>
  <li>「投稿データ」とは、登録ユーザーが本サービスを利用して投稿その他送信するコンテンツ（人材募集情報にかかる文章、画像、動画、その他のデータを含みますがこれらに限りません。）を意味します。</li>
  <li>「当社」とは、【株式会社キャスター】を意味します。</li>
  <li>「当社ウェブサイト」とは、そのドメインが「bosyu.me」である、当社が運営するウェブサイト（理由の如何を問わず、当社のウェブサイトのドメイン又は内容が変更された場合は、当該変更後のウェブサイトを含みます。）を意味します。</li>
  <li>「登録ユーザー」とは、第３条（登録）に基づいて本サービスの利用者としての登録がなされた個人又は法人を意味します。</li>
  <li>「本サービス」とは、当社が提供する【bosyu】という名称のサービス（理由の如何を問わずサービスの名称又は内容が変更された場合は、当該変更後のサービスを含みます。）を意味します。</li>
</ol>

<h2>第３条　（登録）</h2>
<ol>
  <li>本サービスの利用を希望する者（以下「登録希望者」と言います。）は、本規約を遵守することに同意し、かつ当社の定める一定の情報（以下「登録事項」と言います。）を当社の定める方法で当社に提供することにより、当社に対し、本サービスの利用の登録を申請することができます。</li>
  <li>当社は、当社の基準に従って、第１項に基づいて登録申請を行った登録希望者（以下「登録申請者」と言います。）の登録の可否を判断し、当社が登録を認める場合にはその旨を登録申請者に通知します。登録申請者の登録ユーザーとしての登録は、当社が本項の通知を行ったことをもって完了したものとします。</li>
  <li>前項に定める登録の完了時に、サービス利用契約が登録ユーザーと当社の間に成立し、登録ユーザーは本サービスを本規約に従い利用することができるようになります。</li>
  <li>当社は、登録申請者が、以下の各号のいずれかの事由に該当する場合は、登録又は再登録を拒否することがあり、その理由について一切開示義務を負いません。</li>
  <ol>
    <li>当社に提供した登録事項の全部又は一部について虚偽、誤記又は記載漏れがあった場合</li>
    <li>未成年者、成年被後見人、被保佐人又は被補助人のいずれかであり、法定代理人、後見人、補佐人又は補助人の同意等を得ていなかった場合</li>
    <li>反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。）である、又は資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力又は関与する等反社会的勢力との何らかの交流若しくは関与を行っていると当社が判断した場合</li>
    <li>登録申請者が過去当社との契約に違反した者又はその関係者であると当社が判断した場合</li>
    <li>第10条に定める措置を受けたことがある場合</li>
    <li>その他、当社が登録を適当でないと判断した場合</li>
  </ol>
</ol>

<h2>第４条　（登録事項の変更）</h2>
登録ユーザーは、登録事項に変更があった場合、当社の定める方法により当該変更事項を遅滞なく当社に通知するものとします。

<h2>第５条　（パスワード及びユーザーIDの管理</h2>
<ol>
  <li>登録ユーザーは、自己の責任において、本サービスに関するパスワード及びユーザーIDを適切に管理及び保管するものとし、これを第三者に利用させ、又は貸与、譲渡、名義変更、売買等をしてはならないものとします。</li>
  <li>パスワード又はユーザーIDの管理不十分、使用上の過誤、第三者の使用等によって生じた損害に関する責任は登録ユーザーが負うものとし、当社は一切の責任を負いません。</li>
</ol>

<h2>第６条　（料金及び支払い方法）</h2>
<ol>
  <li>本サービスは、登録ユーザー同士において、希望する内容を本サービス上に提示し、メッセージサービスを介して、マッチングをするものであり、当社は登録ユーザー間の契約その他取り決めに関与しません。</li>
  <li>投稿データの内容が雇用契約候補者の募集である場合、遅くとも候補者が正式な選考過程に入ってから候補者と最初に接触する時点（面接、メール、電話などにより、候補者との間で意思疎通（面接の日程調整に関する連絡等を除きます）が発生する時点をいいます）までの間に、従事すべき業務の内容および賃金、労働時間その他の労働条件（以下「従事すべき業務の内容等」といいます）を明示するとともに、次に掲げる事項を遵守するものとします。</li>
  <ol>
    <li>明示する従事すべき業務の内容等は、虚偽または誇大な内容としないこと。</li>
    <li>労働時間に関しては、始業および終業の時刻、所定労働時間を超える労働、休憩時間、休日等について明示すること。また、裁量労働制が適用される場合には、その旨を明示すること。</li>
    <li>賃金に関しては、賃金形態（月給、日給、時給等の区分）、基本給、定額的に支払われる手当、通勤手当、昇給に関する事項等について明示すること。また、固定残業代を採用する場合は、その計算方法（固定残業時間および金額を明らかにするものに限ります）、固定残業代を除外した基本給の額、固定残業時間を超える時間外労働、休日労働および深夜労働分についての割増賃金を追加で支払うこと等を明示すること。</li>
    <li>従事すべき業務の内容等の事項の一部をやむを得ず別途明示することとするときは、その旨を併せて明示すること。</li>
    <li>候補者に具体的に理解されるものとなるよう、従事すべき業務の内容等の水準、範囲等を可能な限り限定すること。</li>
    <li>職場環境を含め、可能な限り具体的かつ詳細に明示すること。</li>
    <li>明示する従事すべき業務の内容等が労働契約締結時の従事すべき業務の内容等と異なる可能性がある場合は、その旨を併せて明示するとともに、従事すべき業務の内容等が既に明示した内容と異なることとなった場合には、候補者に速やかに知らせること。</li>
    <li>試用期間中と試用期間終了後の従事すべき業務の内容等が異なるときは、それぞれの従事すべき業務の内容等を示すこと。</li>
  </ol>
  <li>投稿データの内容が業務委託候補者の募集である場合、業務委託の開始までに、委託内容、対価、対価の支払時期、支払方法、その他の業務委託条件を合意するものとし、当該業務委託に下請代金支払遅延等防止法が適用される場合、その内容を遵守するものとする。</li>
  <li>本サービスは、無償で利用することができます。ただし、今後も本サービスが無償であり続けることを保証しません。</li>
</ol>

<h2>第７条　（禁止事項）</h2>
登録ユーザーは，本サービスの利用にあたり，以下の各号のいずれかに該当する行為又は該当すると当社が判断する行為をしてはなりません。
<ol>
  <li>法令又は公序良俗に違反する行為
  <li>犯罪行為に関連する行為</li>
  <li>当社のサーバー又はネットワークの機能を破壊したり、妨害したりする行為</li>
  <li>当社のサービスの運営を妨害するおそれのある行為</li>
  <li>他のユーザーに関する個人情報等を収集又は蓄積する行為</li>
  <li>他のユーザーに成りすます行為</li>
  <li>当社のサービスに関連して、反社会的勢力に対して直接又は間接に利益を供与する行為</li>
  <li>当社、本サービスの他の利用者又は第三者の知的財産権、肖像権、プライバシー、名誉その他の権利又は利益を侵害する行為</li>
  <li>過度に暴力的な表現、露骨な性的表現、人種、国籍、信条、性別、社会的身分、又は門地等による差別につながる表現、自殺、自傷行為、薬物乱用を誘引又は助長する表現、若しくはその他反社会的な内容を含み他人に不快感を与える表現を、投稿又は送信する行為</li>
  <li>営業、宣伝、広告、勧誘、又はその他営利を目的とする行為（当社の認めたものを除きます。）</li>
  <li>性行為やわいせつな行為を目的とする行為、面識のない異性との出会いや交際を目的とする行為、又は他のお客様に対する嫌がらせや誹謗中傷を目的とする行為、その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為</li>
  <li>宗教活動又は宗教団体への勧誘行為</li>
  <li>その他、当社にとって不利益になる行為</li>
</ol>

<h2>第８条　（本サービスの停止等）</h2>
<ol>
  <li>当社は、以下のいずれかの事由があると判断した場合、登録ユーザーに事前に通知することなく本サービスの全部又は一部の提供を停止又は中断することができるものとします。</li>
  <ol>
    <li>本サービスにかかるコンピュータシステムの保守点検又は更新を行う場合</li>
    <li>地震、落雷、火災、停電又は天災などの不可抗力により、本サービスの提供が困難となった場合</li>
    <li>コンピュータ又は通信回線等が事故により停止した場合</li>
    <li>その他、当社が本サービスの提供が困難と判断した場合</li>
  </ol>
  <li>当社は、本サービスの提供の停止又は中断により、登録ユーザー又は第三者が被ったいかなる不利益又は損害について、理由を問わず一切の責任を負わないものとします。</li>
</ol>

<h2>第９条　（権利帰属）</h2>
<ol>
  <li>当社ウェブサイト及び本サービスに関する知的財産権は全て当社又は当社にライセンスを許諾している者に帰属しており、本規約に基づく本サービスの利用許諾は、当社ウェブサイト又は本サービスに関する当社又は当社にライセンスを許諾している者の知的財産権の使用許諾を意味するものではありません。</li>
  <li>登録ユーザーは、投稿データについて、自らが投稿その他送信することについての適法な権利を有していること、および投稿データが第三者の権利を侵害していないことについて、当社に対し表明し、保証するものとします。</li>
  <li>登録ユーザーは、投稿データについて、当社に対し、無償にて、世界的、非独占的、サブライセンス可能かつ譲渡可能な使用、複製、配布、派生著作物の作成、表示及び実行に関するライセンスを付与します。また、ほかの登録ユーザーに対しても、本サービスを利用してユーザーが投稿その他送信した投稿データの使用、複製、配布、派生著作物を作成、表示及び実行することについての非独占的なライセンスを付与します。</li>
  <li>登録ユーザーは、当社及び当社から権利を継承し又は許諾された者に対して著作者人格権を行使しないことに同意するものとします。</li>
</ol>

<h2>第１０条　（登録抹消等）</h2>
<ol>
  <li>当社は、登録ユーザーが、以下の各号のいずれかの事由に該当する場合は、事前に通知又は催告することなく、投稿データを削除し又は当該登録ユーザーについて本サービスの利用を一時的に停止し、若しくは登録ユーザーとしての登録を抹消することができます。
    <ol>
      <li>本規約のいずれかの条項に違反した場合</li>
      <li>登録事項に虚偽の事実があることが判明した場合</li>
      <li>支払い停止もしくは支払い不能となり、又は破産手続開始、民事再生手続開始、会社更生手続開始、当別清算開始若しくはこれらに類する手続の開始の申し立てがあった場合</li>
      <li>１年以上本サービスの利用がない場合</li>
      <li>当社からの問い合わせその他の回答を求める連絡に対して３０日間以上応答がない場合</li>
      <li>第３条第４条各号に該当する場合</li>
      <li>以下の情報を投稿データとして投稿した場合</li>
      <ol>
        <li>ビジネスに関する人材の募集と関係ない情報</li>
        <li>法令に違反する情報</li>
        <li>過度に暴力的または残虐な表現を含む情報</li>
        <li>第三者の知的財産権、肖像権、プライバシー、その他の権利または　利益を侵害する情報</li>
        <li>第三者の個人情報を含む情報</li>
        <li>コンピューター・ウィルスその他の有害なコンピューター・プログラムを　　　含む情報</li>
        <li>当社、本サービスの他のお客様またはその他の第三者の名誉、または信用を毀損する表現を含む情報</li>
        <li>過度にわいせつな表現を含む情報</li>
        <li>差別を助長する表現を含む情報</li>
        <li>自殺、自傷行為を助長する表現を含む情報</li>
        <li>薬物の不適切な利用を助長する表現を含む情報</li>
        <li>反社会的な表現を含む情報</li>
        <li>チェーンメール等の第三者への情報の拡散を求める情報</li>
        <li>他人に不快感を与える表現を含む情報</li>
        <li>面識のない異性との出会いを目的とした情報</li>
        <li>その他当社が不適切と判断した場合</li>
      </ol>
      <li>その他、当社が本サービスの利用、登録ユーザーとしての登録、又はサービス利用契約の継続を適当でないと判断した場合</li>
    </ol>
  <li>前項各号のいずれかの事由に該当した場合、登録ユーザーは、当社に対して負っている債務の一切について当然に期限の利益を失います。</li>
  <li>当社は、本条に基づき当社が行った行為により登録ユーザーに生じた損害について一切の責任を負いません。</li>
</ol>

<h2>第１１条　（退会）</h2>
<ol>
  <li>登録ユーザーは、当社所定の方法で当社に通知することにより、本サービスから退会し、自己の登録ユーザーとしての登録を抹消することができます。</li>
  <li>退会にあたり、当社に対して負っている債務が有る場合は、登録ユーザーは、当社に対して負っている債務の一切について当然に期限の利益を失い、直ちに当社に対して全ての債務の支払を行わなければなりません。</li>
  <li>退会後の利用者情報の取扱いについては、第15条の規定に従うものとします。</li>
</ol>

<h2>第１２条　（本サービスの内容の変更、終了）</h2>
当社は，ユーザーに通知することなく，本サービスの内容を変更し又は本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。

<h2>第１３条　（保証の否認及び免責）</h2>
<ol>
  <li>当社は、本サービスに事実上又は法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。</li>
  <li>当社は、本サービスに起因して登録ユーザーに生じたあらゆる損害について一切の責任を負いません。ただし、当社の故意又は重過失に基づく場合又は本サービスに関する当社と登録ユーザーとの間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合はこの限りではありません。</li>
  <li>前項ただし書に定める場合であっても、当社は、当社の過失（重過失を除きます。）による債務不履行又は不法行為により登録ユーザーに生じた損害のうち特別な事情から生じた損害（当社又はとろくユーザーが損害発生につき予見し、又は予見し得た場合を含みます。）について一切の責任を負いません。</li>
  <li>当社は、本サービスに関して、登録ユーザーと他の登録ユーザー又は第三者との間において生じた取引、連絡又は紛争等について一切責任を負いません。</li>
<ol>

<h2>第１４条　（秘密保持）</h2>
登録ユーザーは、本サービスに関連して当社が登録ユーザーに対して秘密に取り扱うことを求めて開示した非公知の情報について、当社の事前の書面による承諾がある場合を除き、秘密に取り扱うものとします。

<h2>第１５条　（利用者情報の取扱い）</h2>
<ol>
  <li>当社による登録ユーザーの利用者情報の取扱いについては、別途当社プライバシーポリシーの定めによるものとし、登録ユーザーはこのプライバシーポリシーに従って当社が登録ユーザーの利用者情報を取り扱うことについて同意するものとします。</li>
  <li>当社は、登録ユーザーが当社に提供した情報、及びデータ等を、個人を特定できない形での統計的な情報として、当社の裁量で、利用及び公開することができるものとし、登録ユーザーはこれに異議を唱えないものとします。</li>
</ol>

<h2>第１６条　（本規約等の変更）</h2>
当社は、本規約を任意の時点で変更できるものとします。当社は、本規約を変更した場合には、登録ユーザーに当該変更内容を通知するものとし、当該変更内容の通知後、登録ユーザーが本サービスを利用した場合又は当社の定める期間内に登録抹消の手続をとらなかった場合には、登録ユーザーは、本規約の変更に同意したものとみなします。

<h2>第１７条　（連絡／通知）</h2>
本サービスに関する問い合わせその他登録ユーザーから当社に対する連絡又は通知、及び本規約の変更に関する通知その他当社から登録ユーザーに対する連絡又は通知は、当社の定める方法で行うものとします。

<h2>第１８条　（利用契約上の地位の譲渡等）</h2>
<ol>
  <li>登録ユーザーは、当社の書面による事前の承諾なく、利用契約上の地位又は本規約に基づく権利もしくは義務を第三者に譲渡し、又は担保に供することはできません。
  <li>当社は本サービスにかかる事業を他の団体に譲渡した場合には、当該事業譲渡に伴い利用契約上の地位、本規約に基づく権利及び義務並びに登録ユーザーの登録事項その他の顧客情報を当該事業譲渡の譲受人に譲渡することができるものとし、登録ユーザーは、かかる譲渡につき本項において予め同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。
</ol>

<h2>第１９条　（分離可能性）</h2>
本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。

<h2>第２０条　（準拠法及び管轄裁判所）</h2>
<ol>
  <li>本規約及びサービス利用契約の準拠法は日本法とします。</li>
  <li>本規約又はサービス利用契約に起因し、又は関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</li>
</ol>

【2019年3月17日制定】
